<div class="flex h-dvh flex-col items-center justify-center p-6 text-center">
  <h1 class="text-6xl font-bold text-primary-500">404</h1>
  <p class="mt-4 text-xl text-secondary-600">Página não encontrada</p>
  <p class="text-secondary600 mt-2">
    Parece que a página que você está procurando não existe.
  </p>
  <a
    routerLink="/dashboard"
    class="mt-2 flex w-fit origin-top cursor-pointer items-center justify-end gap-3 border-b border-transparent text-primary-500 transition-all duration-75 ease-in-out hover:border-primary-500"
    >Voltar para a Página Inicial</a
  >
</div>
