<header class="h-20 w-full bg-secondary-900 px-4 py-6 md:px-6">
  <div
    class="mx-auto flex w-full max-w-6xl items-center justify-between gap-3 sm:gap-6"
  >
    <app-avatar size="sm" [name]="nickname()" />

    <div class="flex items-center gap-3">
      <button
        title="Dashboard"
        class="flex items-center justify-center text-secondary-50 transition-colors duration-150 hover:text-primary-500"
        (click)="handleGoToDashboard()"
      >
        <ng-icon name="heroHome" size="20" />
      </button>

      <button
        matTooltip="Em breve você poderá visualizar/ocultar os valores de aplicação como um todo."
        aria-label="Em breve você poderá visualizar/ocultar os valores de aplicação como um todo."
        class="flex items-center justify-center text-secondary-50 transition-colors duration-150 hover:text-primary-500"
        (click)="handleToggleShowValues()"
      >
        <ng-icon [name]="showValues() ? 'heroEye' : 'heroEyeSlash'" size="20" />
      </button>

      <button
        title="Sair"
        class="flex items-center justify-center text-secondary-50 transition-colors duration-150 hover:text-primary-500"
        (click)="handleLogout()"
      >
        <ng-icon name="heroArrowPath" size="20" />
      </button>
    </div>
  </div>
</header>
